<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>재고 관리 프로그램</title>

    <link href="../static/css/style.css" rel="stylesheet"/>

</head>
<body>
<!--login.html 에서 nav bar 제거 및 login section 높이 수정-->

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">alert("{{messages[-1]}}");</script>
    {% endif %}
{% endwith %}

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/view/todayEngines">SJA.inc</a>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/view/report">기간별 통계</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/allEngines">기간별 조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/inventoryPayment">재고수불부</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle current-page-text" href="#" id="navbarDarkDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">입고</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/engine/addEngine">엔진 입고</a></li>
                        <li><a class="dropdown-item" href="/engine/editEngines">입고 엔진 수정 & 삭제</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink02" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">출고</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink02">
                        <li><a class="dropdown-item" href="/engine/releaseEngine">엔진 출고</a></li>
                        <li><a class="dropdown-item" href="/engine/editOutputEngines">출고 엔진 수정 & 삭제</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink03" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">추가</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink03">
                        <li><a class="dropdown-item" href="/mip/addMIP">MIP 추가</a></li>
                        <li><a class="dropdown-item" href="/engine//setInvalidEngine">불량 엔진 추가</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <button type="button" onclick="location.href='/etc/enginedbExport'" class="btn btn-success mx-1">
                Excel-입고
            </button>
            <button type="button" onclick="location.href='/etc/outputenginedbExport'" class="btn btn-success mx-1">
                Excel-출고
            </button>
            <button class="btn btn-dark mx-3" onclick="location.href='/logout'">Log out</button>
        </div>
    </div>
</nav>

<main>
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-75">
                <div class="col col-xl-5">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="d-flex align-items-center">
                            <div class="card-body p-lg-5 text-black">

                                <form action="/engine/addEngine" method="post" enctype="multipart/form-data">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">엔진입고</span>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <input class="form-control" type="file" id="formFile" name="file[]" multiple="">
                                    </div>
                                    <div class="pt-3">
                                        <button type="submit" class="btn btn-dark mx-3">엔진입고</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <!--input queue list-->
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>