<!DOCTYPE html>
<html>
<head>
    <title>재고 관리 프로그램</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">

    <!--dropdown-->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <!--datepicker-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    <script type='text/javascript'
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/javascript.js"></script>
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<script type="text/javascript">alert("{{messages[-1]}}");</script>
{% endif %}
{% endwith %}

<nav class="navbar navbar-expand-sm navbar-light border-bottom navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/view/todayEngines">SJA.inc</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/view/report">기간별 통계</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/allEngines">기간별 조회</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/inventoryPayment">재고수불부</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/engine/addEngine">엔진 입고</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/engine/releaseEngine">엔진 출고</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/engine/editEngines">입고 엔진 수정 & 삭제</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/engine/editOutputEngines">출고 엔진 수정 & 삭제</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mip/addMIP">MIP 추가</a>
                </li>
            </ul>
        </div>
        <div>
            <button type="button" onclick="location.href='/etc/enginedbExport'" class="navbar-btn">
                Excel-입고
            </button>
            <button type="button" onclick="location.href='/etc/outputenginedbExport'" class="navbar-btn">
                Excel-출고
            </button>
            <button class="navbar-btn" onclick="location.href='/logout'">log out</button>
        </div>
    </div>
</nav>


<div class="m-4">
    <div class="current-date-wrapper" style="font-weight: bold; font-size: 20px;">
        today:
        <script>
            date = new Date().toLocaleDateString();
            document.write(date);
        </script>
    </div>
    <div class="daily-table-container">
        당일 입고 리스트
        <table class="table daily-table table-bordered table-striped table-hover">
            <thead>
            <th col-index=1 scope="col">번호</th>
            <th col-index=2 scope="col">바코드</th>
            <th col-index=3 scope="col">MIP</th>
            <th col-index=4 scope="col">종류</th>
            <th col-index=5 scope="col">입고일</th>
            <th col-index=6 scope="col">포장일</th>
            <th col-index=7 scope="col">출고일</th>
            <th col-index=8 scope="col">출고지</th>
            <th col-index=9 scope="col">상태</th>
            <th col-index=10 scope="col">비고</th>
            </thead>
            <tbody style="font-size: 12px">
            {% for row in inputTable %}
            <tr>
                <th scope="row"></th>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="height: 20px;"></div>

    <div class="daily-table-container">
        당일 출고 리스트
        <table class="table daily-table table-bordered table-striped table-hover">
            <thead>
            <th col-index=1 scope="col">번호</th>
            <th col-index=2 scope="col">바코드</th>
            <th col-index=3 scope="col">MIP</th>
            <th col-index=4 scope="col">종류</th>
            <th col-index=5 scope="col">입고일</th>
            <th col-index=6 scope="col">포장일</th>
            <th col-index=7 scope="col">출고일</th>
            <th col-index=8 scope="col">출고지</th>
            <th col-index=9 scope="col">상태</th>
            <th col-index=10 scope="col">비고</th>
            </thead>
            <tbody style="font-size: 12px">
            {% for row in outputTable %}
            <tr>
                <th scope="row"></th>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    window.onload = () => {
        console.log(document.querySelector("#filter > tbody > tr:nth-child(1) > td:nth-child(2) ").innerHTML);
    };
    getUniqueValuesFromColumn()
</script>
</body>
</html>
